body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    background-color:#EDE1D2;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: black;
}

.name {
    font-size: 24px;
}

.navigation {
    display: flex;
    gap: 20px;
}

.navigation a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.container {
    display: flex;
    flex: 1; 
}

.content {
    flex: 1; 
    padding: 20px;
    color: black;
}

.green-block {
    flex: 1; 
    background-color: #183C28; 
    padding: 25px;
    color: #EEC643;
    font-size: 22px;
}
.golden{
    background-color:#EEC643 ;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    color: black;
    width:75px;
    height: 30px;
}
.skills{
    padding-left: 350px;
}

.text{
    width: 400px;
}

.right-box {
    display: flex;
    width: 300px;
    height: 400px;
    background-color: #183C28; 
    position: fixed;
    top: 200px;
    right: 25px;
    flex-direction: column;
    
    
}
.right-box-top {
    flex: 1; 
    background-color: #183C28; 
}

.right-box-bottom{
    flex: .70; 
    background-color: black; 
}

.coding{
    color: #FFFFFF;
    font-size: 16px;
    padding-left: 400px;
}
