body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
}

.content {
    flex: 1; 
    padding: 20px;
}

.golden-line {
    height: 5px;
    background-color: #BF9553;
    width: 100%; 
}

.purple-row {
    background-color: #522888;
    height: 100px; 
    width: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
}

.sub {
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-right: 3=800px;
}

.fa-instagram,
.fa-linkedin {
    color: #FFFFFF;
    text-align: center;
    font-size: 35px;
    margin-left: 20px;
    margin-right: 20px;

}

.fa-instagram:hover,
.fa-linkedin:hover {
    color: #BF9553;
}

.darker-purple {
    background-color: #3C1F5B; 
    height: 75px; 
    width: 100%; 
    padding: none;
    display: flex; 
    align-items: center;
    
}

.contact {
    color: #BF9553;
    text-align: center;
    text-decoration: none;
}

.contact:hover {
    text-decoration: underline;
    color: #BF9553;
}
